@media only screen and (min-width: 1400px) {
  body {
    overflow: hidden;
    background-color: #111;
    color: #fff;
    font-family: 'Raleway';
  }
  h1 {
    text-transform: uppercase;
  	font-size: 70px;
    margin: 0;
  }
  h2 {
    font-weight: 100;
    text-transform: uppercase;
  	font-size: 45px;
    margin: 0 0 10px 0;
  }
  h3 {
    margin: 0;
    text-transform: uppercase;
  	font-size: 20px;
  }
  p {
    font-family: 'Quicksand';
    color: #888;
  	font-size: 14px;
    margin: 0 0 5px 0;
    line-height: 20px;
  }

  .background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.05;
    transform: translate(0, -150px);
    overflow: hidden;
    white-space: nowrap;
  }
  .background > p {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 300px;
  }

  .col {
    text-align: center;
  	max-width: 1080px;
  	padding: 0;
  }

  #projects-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }

  #home-wrapper {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
  }

  .top-row {
  	position: relative;
  	width: 100vw;
  	height: 25vh;
  }

  .middle-row {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 100vw;
  	height: 50vh;
  	position: relative;
  }

  .bottom-row{
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	position: relative;
  	width: 100vw;
  	height: 25vh;
  }

  .wrapper {
  	position: relative;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	min-height: 100vh;
  	width: 100vw;
  	overflow-x: hidden;
  	overflow-y: hidden;
  }

  .container {
    flex-direction: column;
    display: flex;
    width: 1300px;
    height: 100vh;
  }

  .img {
    transform: scale(1);
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: : 50vh;
    max-width: 50vw;
    max-height: 50vh;
    min-width: 50vw;
    min-height: 50vh;
    overflow: hidden;
    margin: 0;
  }
  .img-container:hover > .overlay {
    opacity: 1;
    transform: scale(1);
    cursor: pointer;
  }
  .img-container:hover > .img {
    transform: scale(1.1);
    opacity: 0.1;
  }

  .description {
    padding-top: 20px;
  }

  .tag {
    font-family: 'Cutive Mono', monospace;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px;
    height: 30px;
    width: auto;
    color: #aaa;
    background-color: transparent;
  }

  .tag-cloud {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .overlay {
  	background-color: transparent;
  	display: flex;
  	align-items: center;
  	flex-direction: column;
  	justify-content: center;
  	z-index: 1;
  	opacity: 0;
  	max-width: 100%;
  	max-height: 100%;
  	position: absolute;
    transform: scale(0.5);
  	transition: all 0.15s ease-in-out;
  }
  .overlay >  h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
  }
  .overlay >  p {
    font-family: 'Quicksand', sans-serif;
    color: #ccc;
    font-weight: 200;
    font-size: 13px;
  }
  .overlay > button:focus + .overlay{
    opacity: 1;
    transform: scale(1);
  }

  .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 120px;
    font-size: 15px;
  }
  .brand > a {
    text-decoration: none;
  }

  .navbar-collapse > ul {
    display: flex;
    flex-direction: row;
    max-height: 80px;
    height: 80px;
  }

  .navbar {
    position: fixed;
    display: flex;
    align-items: center;
    margin: 0;
    max-width: 100%;
    height: 70px;
    width: 100vw;
  }

  .navbar-nav {
  	display: flex;
  	align-items: center;
  	list-style: none;
  	margin: 0;
  	-webkit-box-pack: end !important;
  	-webkit-justify-content: flex-end !important;
  	-ms-flex-pack: end !important;
  	justify-content: flex-end !important;
  	width: 100%;
  }

  .navbar-nav > .nav-item > button {
    background: transparent;
    border: none;
    font-family: 'Raleway';
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    margin: 0;
    transition: color 0.2s ease-in-out;
  }
  .navbar-nav > .nav-item > button:hover {
    cursor: pointer;
    color: #F22F41;
    outline: none;
  }
  .navbar-nav > .nav-item > button:focus {
    opacity: 1;
    outline: none;
  }

  .icon-github-circled {
    color: #fff;
    font-size: 25px;
    transition: color 0.3s ease-in-out;
  }
  .icon-github-circled:hover {
    cursor: pointer;
    color: #F22F41;
  }

  .icon-google-plus-circle {
    color: #fff;
    font-size: 25px;
    transition: color 0.3s ease-in-out;
  }
  .icon-google-plus-circle:hover {
    cursor: pointer;
    color: #F22F41;
  }
  .icon-down-open {
    font-size: 50px;
    color: #222;
    transition: all 0.1s ease-in-out;
  }
  .icon-down-open:hover {
    cursor: pointer;
  }
  .icon-down-open {
  	visibility: visible;
  }
}
